@import "../../../css/globals.scss";

.wrapper {
    margin: 0 200px;
    display: flex;
    gap: 12px;
}

.sphere {
    width: 230px;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 8px 40px rgba(4, 17, 63, 0.05);
    transition: all 0.2s ease-out;
    cursor: pointer;

    &__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 20px;
    }

    &__icon {
        width: 64px;
        height: 64px;
        padding: 19px 16px;
        background: #ebeffd;
        border-radius: 50%;
    }

    &__icon svg {
        fill: $primary-btn;
    }

    &__name {
        margin-top: 17px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #000;
    }

    &:hover {
        border: 1px solid $primary-btn;
    }

    &:hover &__icon {
        width: 64px;
        height: 64px;
        padding: 19px 16px;
        background: linear-gradient(90.15deg, #5f82ff 0.13%, #00e6e6 99.89%);
        border-radius: 50%;
    }

    &:hover &__icon svg {
        fill: #ffffff;
    }
}
