@import "../../../css/globals.scss";

.header {
    padding: 0 100px;
    width: 100%;
    color: #ffffff;
    background: $header-bg;

    &__container {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__user {
        display: flex;
        align-items: center;
        cursor: pointer;

        &-img {
            width: 44px;
            height: 44px;
            border-radius: 50%;
        }

        &-arrow {
            width: 10px;
            height: 10px;
            border-top: 3px solid #ffffff;
            border-right: 3px solid #ffffff;
            margin-left: 10px;
            transform: rotate(135deg);
        }
    }
}

.logo {
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 21px;
    line-height: 23px;

    &__icon {
        margin-right: 10px;
    }

    &__name {
        background: linear-gradient(90.15deg, #5f82ff 0.13%, #00e6e6 99.89%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.linkItem{
    color:white;
}
.menu {
    margin-left: -25%;

    &__list {
        display: flex;
        padding: 0;
        margin: 0;
    }

    &__item {
        padding: 20px 0;
        position: relative;
        transition: all 0.3s ease;
        cursor: pointer;
        font-weight: 700;

        &:not(:last-child) {
            margin-right: 32px;
        }

        &:hover {


            &::after {
                content: "";
                height: 4px;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                background: $primary-btn;
                border-radius: 4px;
            }
        }

        &-icon {
            margin-right: 8px;
            vertical-align: bottom;
        }
    }
}

@media (max-width: 1350px) {
    .menu {
        margin-left: -20%;
    }
}

@media (max-width: 1130px) {
    .menu {
        margin-left: 0;
    }
}
