* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Suisse Intl", sans-serif;
    font-size: 15px;
    min-height: 100vh;
}

:active,
:focus {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

$main-bg: #f3f5f9;
$header-bg: #04113f;

$primary-btn: #345ceb;
$primary-btn-hover: #2a51db;
$primary-btn-active: #254bd1;

$error: #f8222f;

$main-accent: #e4e9ff;
$secondary-accent: #f3f5f9;
