@import '../../../../css/globals.scss';

html,
body {
    background-color: $main-bg;
}

.professions {
    text-align: center;

    &__title {
        margin: 77px 0 40px 0;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
    }
}