@import "../../../css/globals.scss";

html,
body {
    background-color: $main-bg;
}

.knowledge-base {
    text-align: center;

    &__title {
        margin: 77px 0 20px;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
    }

    &__subtitle {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        color: #66676c;
    }

    &__link {
        margin-left: 3px;
        font-weight: 600;
        color: $primary-btn;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__container {
        margin: 0 200px 60px;
    }

    &__professions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 48px;
        padding-bottom: 20px;
        border-bottom: 1px solid #dfe1e8;

        &-found {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #989898;
        }
    }

    &__questions {
        margin: 20px 0px 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    &__wrapper {
        width: 49%;
    }

    &__question {
        max-height: 120px;
        padding: 25px;
        text-align: left;
        background: #ffffff;
        border-radius: 8px;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;

            &-tag {
                padding: 5px 10px;
                font-weight: 600;
                font-size: 15px;
                line-height: 17px;
                color: #6f00ff;
                background: $secondary-accent;
                border-radius: 3px;
            }

            &-favourites {
                display: flex;

                &__icon {
                    height: 32px;
                    width: 32px;
                    position: relative;
                    border-radius: 50%;
                    background: $main-accent;
                }

                & img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &__btn {
                    padding: 0;
                    margin-left: 8px;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 120%;
                    color: $primary-btn;
                    background: none;
                    border: none;
                    cursor: pointer;
                }
            }
        }

        &__body {
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
        }
    }
}
