@import "../../../css/globals.scss";

.dropdown {
    position: relative;
    padding: 5px 16px;
    width: 80%;
    border-radius: 3px;
    border: none;
    border-radius: 3px;
    text-align: left;
    background-color: #fff;
    color: #000000;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 8px 40px rgba(4, 17, 63, 0.05);
    }

    &-input {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;
    }

    &__arrow-closed,
    &__arrow-open {
        display: inline-block;
        position: absolute;
        right: 10px;
        margin-right: 16px;
        width: 10px;
        height: 10px;
        border-top: 3px solid $primary-btn;
        border-right: 3px solid $primary-btn;
        border-width: 2px;
        transition: all 0.3s ease;
    }

    &__arrow-closed {
        top: 12px;
        transform: rotate(135deg);
    }

    &__arrow-open {
        top: 17px;
        transform: rotate(-45deg);
    }

    &-menu {
        padding: 12px 0px;
        max-height: 300px;
        border: none;
        border-radius: 3px;
        overflow: auto;
        animation: growDown 0.4s ease-in-out forwards;
        transform-origin: top center;
    }
    &-item {
        padding: 5px;
        cursor: pointer;

        &:hover {
            background-color: #9fc3f870;
        }

        &.selected {
            background-color: #0d6efd;
            color: #fff;
        }
    }
}

.search-box {
    padding: 5px;

    & input {
        width: 100%;
        box-sizing: border-box;
        padding: 12px 19px;
        border: 1px solid #dfe1e8;
        border-radius: 3px;
        background-color: #fff;
    }
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}
