@import "../../../../css/globals.scss";

html,
body {
    background-color: $main-bg;
}

.results-page {
    text-align: center;

    &__title {
        margin: 77px 0 32px;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;

        &-sec {
            margin: 60px 0 40px;
            font-weight: 700;
            font-size: 28px;
            line-height: 32px;
        }
    }

    &__container {
        margin: 0 200px 60px;
    }

    &__progress {
        padding: 24px 40px;
        background: $primary-btn;
        box-shadow: 0px 8px 40px rgba(4, 17, 63, 0.05);
        border-radius: 8px;

        &-top {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            color: #ffffff;

            &-name,
            &-count {
                font-weight: 600;
                font-size: 22px;
                line-height: 140%;
            }
        }
        &-bar {
            height: 32px;
            position: relative;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 3px;
            color: #ffffff;
            overflow: hidden;

            &-done {
                height: 100%;
                width: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background: linear-gradient(
                    90.15deg,
                    #56c2ff 0.13%,
                    #19bedb 51.69%,
                    #00dbdb 99.89%
                );
                border-radius: 3px;
                opacity: 0;
                transition: 1s ease;
            }
        }
    }

    &__questions {
        margin-bottom: 40px;
    }

    &__question {
        padding: 25px;
        text-align: left;
        background: #ffffff;
        border-radius: 8px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;

            &-tag {
                padding: 5px 10px;
                font-weight: 600;
                font-size: 15px;
                line-height: 17px;
                color: #6f00ff;
                background: $secondary-accent;
                border-radius: 3px;
            }

            &-favourites {
                display: flex;

                &__icon {
                    height: 32px;
                    width: 32px;
                    position: relative;
                    border-radius: 50%;
                    background: $main-accent;
                }

                & img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &__btn {
                    padding: 0;
                    margin-left: 8px;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 120%;
                    color: $primary-btn;
                    background: none;
                    border: none;
                }
            }
        }

        &__body {
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
        }
    }
}

.percent-count {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
